* {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

html,
body {
  height: 100;
  margin: 0;
  padding: 0;
}

header {
  padding: 80px 15px 50px 15px;
}

.max-width-wrapper {
  max-width: 580px;
  margin-left: auto;
  margin-right: auto;
}

.intro-chunk {
  max-width: 320px;
}

main {
  padding-top: 40px;
  padding-bottom: 50px;
  background-color: grey;
  border-top: 8px #414141 solid;
}

.card {
  background-color: white;
  padding: 5px 25px;
  border-bottom: 8px #414141 solid;
}

.indented-heading {
  border-bottom: 8px #ec9900 solid;
  background-color: #ffc14f;
  width: fit-content;
  padding: 15px;
  padding-left: 25px;
  margin-top: 0px;
  margin-left: -35px;
}

strong {
  color: green;
}

/* Add styles here! */
